/* Add the CSS styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 0 3rem 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 8rem;
}

.nav-button {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 1rem;
  margin: 0 10px; /* Add equal margin on both sides of the buttons */
  cursor: pointer;
}

.nav-button.active {
  font-weight: bold;
}

.header-text {
  text-align: center;
  color: #333;
  font-size: 36px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.lgn-btn {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  width: 9rem;
  height: 2rem;
}

.lgn-btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lgn-btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.lgn-btn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.lgn-btn:hover {
  background-color: var(--hover-color);
}

.lgn-btn:hover .arrow {
  background: var(--secondary-color);
}

.lgn-btn:hover .arrow:before {
  right: 0;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.burger {
  display: none;
  position: absolute;
  right: 0;
  padding-right: 2rem;
  align-items: center;
}

.menu-icon,
.close-icon {
  width: 24px;
  height: 24px;
}

.close-icon {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.logo {
  display: block;
}

.logo.hide {
  display: none;
}
hero{
  display: flex;
  margin: 2vh;
  padding: 3rem;
  font-family: 'Montserrat', sans-serif;
}
.crowd{
  max-width: 85vh;
  max-height: 65vh;

}
.hero-text{
  margin: 4vh;
  padding: 3rem;
}
.hero-text h1{
  font-size: 6vh;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.hero-text p{
  font-size: 2.5vh;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin: 2rem 0 2rem 0;
}
.hero-text button{
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}



@media screen and (max-width: 768px) {
  .navbar.responsive {
    justify-content: space-between;
  }
  

  .burger {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    margin-right: 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }

  .menu-icon,
.close-icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}
  .responsive .nav-links {
    display: flex;
  }
  .header-text {
    text-align: center;
    color: #333;
    font-size: 26px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
}
